:javascript
  if ( 'querySelector' in document && 'addEventListener' in window && Array.prototype.forEach && ('classList' in document.createElement('_'))) {
    document.documentElement.className += 'js';
  }
