@import mixins/button_more

.wr--about
  // @extend %section-wrapper
  // min-height: 90vh

.se--about
  @extend %section
  // background: $c-bg-light
  padding-top: $section-offset
  min-height: 100vh


.about-intro
  +media($medium-screen-up)
    padding-top: 5vh
    +span-columns(4)

.about-more-wr
  clear: both

// Toggle button

.se--about
  .more-toggler-wr
    text-align: center
    padding-top: $section-offset

  .more-toggler
    @extend %button-more

.about-more
  padding-top: 1rem

.about-fig,
.about-txt


.about-s h2
  text-align: center

.txt-col
  +media($medium-screen-up)
    +columns(2 $gutter)
  // +media($large-screen-up)
    // @include columns(3 $gutter)
.about-intro

.about-expand
