.wr--extras
  // @extend %bg-pattern
  padding: $section-offset*1.5 0 $section-offset

.se--extras
  @extend %section

%ex-se
  +text-background
  +pad(1.5em default)
  margin-bottom: 1.5em

  +media($medium-screen-up)
    +span-columns(4)

.ex-se--talks, .ex-se--ws,
.ex-se--read,
.ex-se--food
  @extend %ex-se

.ex-se--food
  +fill-parent
  +row

+media($medium-screen-up)
  .ex-se--ws
    +omega
    float: right
  .ex-food-it
    +span-columns(4)
  .ex-food-it--kafe
    +omega

+media($large-screen-up)
  .ex-food-it
    +span-columns(3)

.ex-h
  text-align: center
  padding-bottom: emm(1, $size-beta)


.ex-it
  padding-bottom: 1em
