.wr--footer
  background-color: $c-bg-light
  padding: 1rem

.se--footer
  @extend %section
  // +align-items(center)
  // +justify-content(center)

.footer-b
  display: block

.footer-l
  @extend %gamma
  color: $c-fg-light
  margin: 0.75rem 1rem
  display: block
  text-align: center



+media($medium-screen-up)
  .se--footer
    +display(flex)
    +align-items(center)
    +flex-wrap(wrap)

  .footer-l
    display: inline-block
    +flex(1 33%)
    margin:
      left: 0
      right: 0

+media($large-screen-up)
