.wr--footer
  background-color: #fff

.se--footer
  @extend %section
  margin-top: 5vh

.footer-link
  @extend %gamma
  text-align: center
  color: $c-fg-light
  display: block
  margin: 0.5rem 0

  +media($medium-screen-up)
    +span-columns(2)
