
.soc-l
  color: $c-fg-dark
  text-decoration: none
  &:hover, &:focus
    color: $c-accent

.soc-l
  display: inline-block
  margin: 0 0.5rem
  font-size: 0
  &:before
    +icon-base
    line-height: 1
    font-size: 3rem
  span
    display: none

$social-icons: fb lastfm bandzone nyx gplus
@each $icon in $social-icons
  .soc-l--#{$icon}:before
    +icon($icon)
