.wr--header
  // @extend %section-wrapper
  +inverse-colors
  +background(image-url('header-bg.svg') center 45% / cover no-repeat, image-url('header-bg.jpg') center 70% / cover no-repeat)
  min-height: 90vh

.se--header
  @extend %section

.header-title
  // +replace-text("header-logo.svg")
.header-logo
  display: block
  margin: 0 auto
  +media($medium-screen-up)
    max-height: 40vh

.header-facts,
.header-cta
  text-align: center


.header-facts
  @extend %alpha
  margin-bottom: 12vh


.btn-cta
  @extend %button
  color: $c-bg-dark
  &:hover
    // color: $base-button-color

.header-progress
  margin: 0 auto 5vh
  display: table

.progress-limit
  display: table-cell
  width: 10%

.progress-min
  text-align: right
  padding-right: 1ex

.progress-max
  padding-left: 1ex

.progress-bar
  display: table-cell
  width: 80%
  border: 1px solid $c-accent

.progress-bar-meter
  background-color: $c-accent
  text-align: right
  padding-right: 1ex
  font-weight: 400
  color: $c-bg-dark

.progress-countdown
  display: none

.header-cta
  margin-bottom: 5vh
