@import compass/typography/text/replacement

.wr-header
  // @extend %section-wrapper
  background: #FD716C image-url('bg.jpg') repeat-y
  background-position: center top
  background-size: cover
  color: #fff
  min-height: 90vh

.s-header
  @extend %section
  text-align: center

.header-title
  // +replace-text("header-logo.svg")
  max-width: 120%
  padding: 0
  margin: 0


.header-date
  @extend %gamma
