
.wr--lineup
  @extend %bg-pattern
  padding: $section-offset*1.5 0 $section-offset

.se--lineup
  @extend %section

.lup-item
  display: inline

.lup-header
  margin-top: $section-offset / 2
  padding-top: $section-offset / 2
  // display: inline-block

.lup-det
  display: none

.lup-l,
  color: $c-fg-light

.lup-name, .lup-genre, .lup-location
  display: inline-block
  background-color: rgba($c-bg-light, 0.75)
  padding: 0.2rem 0.5rem

.lup-byline
  font-style: italic

.lup-det-l
  +button-external

.lup-det
  +pad
  background-color: rgba($c-bg-light, 0.8)

.lup-item:target
  // display: block
  .lup-header
    background: $c-accent
  .lup-det
    display: block

+media($medium-screen-up)
  .lup-det
    float: left
    width: 100%
    border: 2px solid $c-accent

// Two columns
%lineup--2n
  +media($medium-screen-up)
    .lup-header
      display: inline-block
      width: 50%

// Three columns
%lineup--3n
  @extend %lineup--2n
  +media($large-screen-up)
    .lup-header
      width: 33.33%

// Apply to various lineups
.lup-wr--headliners
  @extend %lineup--2n
  .lup-header
    padding-top: 3rem

.lup-wr--major
  @extend %lineup--3n
  .lup-item
    background-image: none
