
.wr--lineup
  @extend %bg-pattern
  padding: $section-offset*1.5 0 $section-offset

.se--lineup
  @extend %section
  +clearfix

%band-bg
  background:
    // image: image-url('lineup/zatokrev.jpg')
    // color: $c-bg-shade
    repeat: no-repeat
    size: cover
    position: center

.lup-item
  display: inline

.lup-header
  @extend %band-bg
  margin-top: $section-offset / 2
  padding-top: $section-offset / 2
  // display: inline-block

.lup-det
  display: none

.lup-l
  color: $c-fg-light
  display: block

.lup-name, .lup-genre, .lup-location
  display: inline-block
  background-color: rgba($c-bg-light, 0.75)
  padding: 0.2rem 0.5rem

.lup-byline
  font-style: italic

.lup-det-l
  +button-external

.lup-det
  @extend %band-bg
  +pad

.lup-desc
  background-color: rgba($c-bg-light, 0.8)
  padding: 1em

.lup-embed iframe
  width: 100%

.nojs .lup-item:target,
.lup-item.js-active
  // display: block
  .lup-header
    background: $c-accent
  .lup-det
    display: block

+media($medium-screen-up)
  .lup-det
    float: left
    width: 100%
    border: 2px solid $c-accent

// Two columns
%lineup--2n
  +media($medium-screen-up)
    .lup-header
      display: inline-block
      width: 50%

    .lup-desc, .lup-embed
      +span-columns(4)

    .lup-embed
      +omega

// Three columns
%lineup--3n
  @extend %lineup--2n
  +media($large-screen-up)
    .lup-header
      width: 33.33%

// Apply to various lineups
.lup-wr--headliners
  @extend %lineup--2n
  .lup-header
    padding-top: 3rem

.lup-wr--major
  @extend %lineup--3n
  .lup-header
    background-image: none
    text-align: center
  // .lup-item:target .lup-header
    // text-align: left

@each $file in list-files("images/lineup/*.jpg")
  .lup-b--#{$file}
    background-image: image-url("images/lineup/#{$file}.jpg")

.lup-b--site, .lup-b--debbi-love
  background-position: top center
