
.se--lineup
  @extend %section
  min-height: 100vh

.se--lineup h1
  text-align: center

@each $file in list-files("images/lineup/*.jpg")
  .lup-item--#{$file}
    background-image: image-url("images/lineup/#{$file}.jpg")

%band-bg
  background:
    // image: image-url('lineup/zatokrev.jpg')
    // color: $c-bg-shade
    repeat: no-repeat
    size: cover
    position: center

.lup-item
  @extend %band-bg
  margin-top: 1rem

.lup-title
  min-height: 6.5rem
  padding-top: 1rem

.lup-name, .lup-byline
  display: inline-block
  background-color: rgba($c-bg-light, 0.75)
  padding: 0.2rem 0.5rem

.lup-byline
  font-style: italic

.js .lup-title
  cursor: pointer

  &:hover, &:focus

.lup-desc
  background-color: rgba($c-bg-light, 0.8)
  padding: 1rem

.lup-det-in
  +pad
  @extend %band-bg

.lup-det--2n,
.lup-det--3n
  display: none
  border: 2px solid $c-accent

.lup-item.js-active
  background: $c-accent

  .lup-det--1n
    display: block

%lineup--2n
  +media($medium-screen-up)
    &
      +display(flex)
      +flex-wrap(wrap)
      +justify-content(space-between)
    .lup-item
      +flex(0 0 49%)

    .lup-det--2n
      +flex(0 0 100%)

    .lup-det-in
      +row

    .lup-desc
      +span-columns(4)

    .js, .lup-item.js-active
      .lup-det--1n
        display: none

    .lup-det--3n.js-show
      display: none

    .lup-det--2n.js-show
      display: block

    // .js
    //   .lup-det--1n, .lup-det--3n
    //     display: none

%lineup--3n
  @extend %lineup--2n
  +media($large-screen-up)
    .lup-item
      +flex(0 0 32%)

    .lup-det--3n
      +flex(0 0 100%)

    .lup-det--2n.js-show
      display: none

    .lup-det--3n:not(.js-hide)
      display: block

.lup-wr--headliners
  @extend %lineup--2n
  .lup-title
    padding-top: 4rem

.lup-wr--major
  @extend %lineup--3n
  .lup-item
    background-image: none
