.wr--location
  @extend %section-wrapper
  min-height: 100vh
  background-image: image-url('location-bg.jpg')
  padding-top: 5vh

.se--location
  @extend %section

  .se-header
    padding-top: 0

.location-txt
  +text-background
  +pad

.location-img
  display: inline-block
  width: 32.5%

+media($medium-screen-up)
  .se--location

  .location-txt
    +span-columns(4)
    +shift(4)
    +pad
