.wr--location
  @extend %section-wrapper
  background-image: image-url('location-bg.jpg')
  min-height: 100vh
  padding: 2rem 0

.se--location
  @extend %section

%location-se
  +row

.location-se--about
  @extend %location-se
  margin-bottom: 20vh

.location-se--map
  @extend %location-se
  margin-top: 2rem

%location-txt
  +text-background
  +pad
  +media($medium-screen-up)
    +pad

.location-txt--about
  @extend %location-txt

.location-txt--transport
  @extend %location-txt

.location-img
  display: inline-block
  width: 49%

.location-map

+media($medium-screen-up)
  .wr--location
    background-attachment: fixed
    // padding-top: 105vh

  .se--location

  .location-txt--about
    +span-columns(4)
    +shift(4)

  .location-txt--transport
    +span-columns(3, block-collapse)

  .location-map
    +span-columns(5, block-collapse)
    +omega

  .location-map iframe
    width: 100%

+media($large-screen-up)
  .location-img
    display: inline-block
    width: 32.5%
