$nav-padding-v: 3vh
$nav-items: 4
// $nav-item-color: rgba(255, 255, 255, 0.5)

.wr--nav
  background: rgba($c-bg-light, 0.9)


.se--nav
  @extend %section
  padding-bottom: 0

.nav-l
  font-weight: 400
  color: $c-fg-light
  text-align: center
  line-height: 2
  &:hover, &:focus
    color: $c-accent

.nav-in .nav-l
  margin-right: 1rem

.nav-ex .nav-l
  display: inline-block
  margin-left: 1rem
  &:before
    +icon-base
    line-height: 1
    font-size: 2rem
  span
    display: none

$nav-icons: fb lastfm bandzone nyx
@each $icon in $nav-icons
  .nav-l--#{$icon}:before
    +icon($icon)

+media($medium-screen-up)
  .nav-in
    +span-columns(6)
  .nav-ex
    +span-columns(2)
    +omega

  .nav-in, .nav-ex
    +display(flex)
    +justify-content(space-between)

  .nav-l
    +flex(1)

.nav--clone
  // min-height: 2rem
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 1000
  transform: translateY(-100%)
  a
    padding:
      top: 0
      bottom: 0
    line-height: $nav-height-sticky

.nav--stick
  transform: translateY(0%)

.nav--unstick
