$nav-padding-v: 3vh
$nav-items: 4
// $nav-item-color: rgba(255, 255, 255, 0.5)

.wr--nav
  background: rgba($c-bg-light, 0.9)
.se--nav
  @extend %section

  a
    +span-columns(1)
    color: $c-fg-light
    line-height: 3rem

    text-align: center
    font-weight: 400
    &:hover
      color: $c-accent

.nav--clone
  // min-height: 2rem
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 1000
  transform: translateY(-100%)
  a
    padding:
      top: 0
      bottom: 0
    line-height: $nav-height-sticky

.nav--stick
  transform: translateY(0%)

.nav--unstick
