.wr--footer

.se--partners
  @extend %section
  padding-top: $section-offset

  h1
    display: none
  h2
    @extend %alpha
    text-align: center
    padding-bottom: 1rem

.pa-list
  padding-bottom: 2em
  +display(flex)
  +flex-wrap(wrap)
  +align-items(center)
  +justify-content(center)

.pa-item
  +display(inline-block)
  min-width: 150px
  padding: 0
  margin: 0

  text-align: center
  font-size: $size-beta
  line-height: 1.2

  display: inline-block

  vartical-align: middle

  width: 33.33%
  +media($medium-screen-up)
    width: 25%
  +media($large-screen-up)
    width: 20%

.pa-l
  color: $c-fg-light
  display: block
  height: 100%

.pa-item--text .pa-l
  padding: 1em

.pa-ti--l
  font-size: 2em

/*
  .footer-b
    display: block

  .footer-l
    @extend %gamma
    color: $c-fg-light
    margin: 0.75rem 1rem
    display: block
    text-align: center



  +media($medium-screen-up)
    .se--footer
      +display(flex)
      +align-items(center)
      +flex-wrap(wrap)

    .footer-l
      display: inline-block
      +flex(1 33%)
      margin:
        left: 0
        right: 0

  +media($large-screen-up)
