.wr--footer

.se--partners
  @extend %section
  padding-top: $section-offset

  h1
    display: none
  h2
    @extend %alpha
    text-align: center


.pa-se
  padding-bottom: 2em
  text-align: center
  +media($medium-screen-up)
    text-align: left

.pa-item
  display: inline-block
  min-width: 150px

  text-align: center
  font-size: $size-beta
  line-height: 1.2
  color: $c-fg-light

  width: 33.33%
  +media($medium-screen-up)
    width: 25%
  +media($large-screen-up)
    width: 20%

.pa-item--text
  position: relative

  &:before
    content: ""
    display: block
    padding-top: 56.25% // 16:9

.pa-item-ti-wr
  +position(absolute, 0 0 0 0)
  display: table
  width: 100%
  height: 100%

.pa-item-ti
  display: table-cell
  vertical-align: middle
  padding: 0 1em

/*
  .footer-b
    display: block

  .footer-l
    @extend %gamma
    color: $c-fg-light
    margin: 0.75rem 1rem
    display: block
    text-align: center



  +media($medium-screen-up)
    .se--footer
      +display(flex)
      +align-items(center)
      +flex-wrap(wrap)

    .footer-l
      display: inline-block
      +flex(1 33%)
      margin:
        left: 0
        right: 0

  +media($large-screen-up)
