// Probably a temporary file
.wr--program
  background: image-url('program-bg.jpg') #aeaeae no-repeat center center
  background-size: cover
.wr--lineup, .wr--extras
  // @extend %bg-pattern
  @extend %section


+media($medium-screen-up)
  .se--lineup
    padding-top: 2.2rem
  .se--extras
    +shift(1 of 12)
    +span-columns(10 of 12)
