.wr--programme

.se--lineup
  @extend %section
  min-height: 100vh

.se--lineup h1
  text-align: center


// +media($medium-screen-up)
//   .lup-title
//     +span-columns(4)
//     // +omega(odd)
//   .lup-desc
//     +span-columns(8)

//   .lup-title:nth-child(odd)
//     float: right

.lup-byline
  font-style: italic


.se--extras

