.wr--programme

.se--lineup
  @extend %section
  min-height: 100vh

.se--lineup h1
  text-align: center



%band-bg
  background:
    // image: image-url('lineup/zatokrev.jpg')
    color: $c-bg-shade
    repeat: no-repeat
    size: cover
    position: center top

.lup-item
  @extend %band-bg
  min-height: 6.5rem
  padding-top: 1rem
  margin-top: 1rem




.lup-name, .lup-byline
  display: inline-block
  background-color: rgba($c-accent, 0.9)
  padding: 0.2rem 0.5rem

.lup-byline
  font-style: italic

.js .lup-title
  cursor: pointer

  &:hover, &:focus

.lup-det,
  background-color: rgba($c-bg-light, 0.7)
  +pad

.lup-det-in
  +pad
  @extend %band-bg

+media($medium-screen-up)
  .lup-item:before
    content: '2n'
    display: none

  .lup-wr
    +display(flex)
    +flex-wrap(wrap)
  .lup-item
    +flex(0 0 48%)
    margin-right: 2%

  .lup-det--2n
    +flex(0 0 100%)

  .lup-item.js-active
    background: $c-accent

  // .js
  //   .lup-det--1n, .lup-det--3n
  //     display: none

+media($large-screen-up)
  .lup-item:before
    content: '3n'
    display: none
  .lup-item
    +flex(0 0 32%)
    margin-right: 1%
  .lup-det--3n
    +flex(0 0 100%)
  // .js
  //   .lup-desc--1n, .lup-desc--2n
  //     display: none


@each $file in list-files("images/lineup/*.jpg")
  .lup-item--#{$file}
    background-image: image-url("images/lineup/#{$file}.jpg")
.se--extras

