.wr--tickets
  @extend %section-wrapper
  background-image: image-url('tickets-bg.jpg')
  background-color: #0F1316
  min-height: 100vh
  padding: 2rem 0

.se--tickets
  @extend %section
  padding-top: 10vh

.tickets-b
  +pad
  +text-background

.tickets-l--wr
  text-align: center
  padding-top: 2rem
  a
    +button-external
