.wr--tickets
  @extend %section-wrapper
  background-image: image-url('tickets-bg.jpg')
  min-height: 100vh
  padding: 2rem 0

.se--tickets
  @extend %section
  padding-top: 10vh

.tickets-b
  +pad
  +text-background

.tickets-l--shop
  text-align: center
  padding-top: 2rem
  a
    +button-external

.tickets-f
  margin: 2rem auto 0
  max-width: 25rem

.tickets-f-row
  margin-bottom: 0

.f--ticket_amount
  input
    max-width: 3.5em

.f--submit
  text-align: center

+media($medium-screen-up)
  .tickets-b--shop
    +span-columns(4)

  .tickets-b--order
    // +span-columns(4)
    // +omega
    // +shift(4)

+media($large-screen-up)
  .tickets-b--shop
    +span-columns(5)

  .tickets-b--order
    +span-columns(8)
    +shift(2)

  .tickets-f-row
    +row

  .f--ticket_email
    +span-columns(6 of 8)
  .f--ticket_amount
    +span-columns(2 of 8)
    +omega
