
%alpha
  font-size: $size-alpha
  font-weight: 400
  line-height: 1.2

%beta
  font-size: $size-beta
  font-weight: 400
  line-height: 1.2

%gamma
  font-size: $size-gamma
  font-weight: 400
  line-height: 1.2

=inverse-colors
  color: $c-fg-dark
  background-color: $c-bg-dark

=text-background($transparency: 0.8)
  background-color: rgba($c-bg-light, $transparency)

%se-header, .se-header
  text-align: center
  padding-top: $nav-height-sticky * 2
  padding-bottom: 1rem

