
%alpha
  font-size: $size-alpha
  font-weight: 400
  line-height: 1.2

%beta
  font-size: $size-beta
  font-weight: 400
  line-height: 1.2

%gamma
  font-size: $size-gamma
  font-weight: 400
  line-height: 1.2

=inverse-colors
  color: $c-fg-dark
  background-color: $c-bg-dark
