@import compass/css3
//
// Icon Font: fontcustom
//


+font-face(fontcustom, font-files('fontcustom.woff', 'fontcustom.ttf', 'fontcustom.svg'), 'fontcustom.eot', normal, normal)


$icon-down: '\2193' // ↓ 
$icon-fb: '\66' // f 
$icon-gplus: '\67' // g 
$icon-menu: '\2630' // ☰ 
$icon-up: '\2191' // ↑ 
