@import compass/css3
//
// Icon Font: fontcustom
//


+font-face(fontcustom, font-files('fontcustom.woff', 'fontcustom.ttf', 'fontcustom.svg'), 'fontcustom.eot', normal, normal)


$icon-bandzone: '\62' // b 
$icon-down: '\2193' // ↓ 
$icon-fb: '\66' // f 
$icon-gplus: '\67' // g 
$icon-lastfm: '\6c' // l 
$icon-left: '\2190' // ← 
$icon-menu: '\2630' // ☰ 
$icon-play: '\25b6' // ▶ 
$icon-right: '\2192' // → 
$icon-up: '\2191' // ↑ 
