= javascript_include_tag "//cdn.ravenjs.com/1.1.15/native/raven.min.js"
:javascript
  Raven.config('https://bf7b36e57e4049b491ba81cb95915f42@app.getsentry.com/28012', {
    whitelistUrls: [/psy-high\.(cz|eu)/]
  }).install();
= javascript_include_tag  "all"
:javascript
  (function(p,s,y,h,i,g){p.GoogleAnalyticsOpject=h;p[h]||(p[h]= function(){(p[h].q=p[h].q||[]).push(arguments)});p[h].h=+new Date; i=s.createElement(y);g=s.getElementsByTagName(y)[0]; i.src='//www.google-analytics.com/analytics.js'; g.parentNode.insertBefore(i,g)}(window,document,'script','ga'));
  ga('create','UA-53219163-1');
  ga('set', 'dimension1', window.USE_JS);
  ga('send','pageview');
= javascript_include_tag  "//code.visidom.cz/Kt09eCtQ"
