

%button
  -webkit-font-smoothing: antialiased
  background: $base-button-color
  border: 2px solid $base-button-color
  border-radius: $button-border-radius
  color: $c-fg-dark
  display: inline-block
  // font-size: $base-font-size
  font-weight: 400
  line-height: 1
  padding: .75em 1em
  text-decoration: none
  &:hover, &:focus, &:active
    background-color: rgba($base-button-color, 0.2)
    color: $c-fg-light
  &:focus, &:active
    box-shadow: $form-box-shadow-focus

  &:disabled
    background-color: $light-gray
    border-color: $medium-gray
    cursor: not-allowed
    color: $c-fg-light

=button-external
  @extend %button
  &:after
    content: ' »'

=button-inverse($color: $base-button-color)
  @extend %button
  background: none
  border-color: $color
  color: $color
  &:hover, &:focus, &:active
    background-color: $color

input[type="submit"]
  @extend %button
