@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

iframe {
  border: 0; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  color: #120F0B;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.43;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.375em;
  margin: 0;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

h4 {
  font-size: 1.65em; }

h5 {
  font-size: 1.375em; }

h6 {
  font-size: 1.1em; }

p {
  margin: 0 0 0.715em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #000;
  text-decoration: underline;
  text-decoration-skip: ink; }
  a:hover {
    color: black; }
  a:active, a:focus {
    color: black;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.43em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #413728;
  margin: 1.43em 0;
  padding-left: 0.715em; }

cite {
  color: #61513b;
  font-style: italic; }
  cite:before {
    content: "— "; }

fieldset {
  border: none;
  margin: 0 0 0.715em 0;
  padding: 0; }

input,
label,
select {
  display: block;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1rem; }

label {
  font-weight: 400;
  margin-bottom: 0.3575em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple],
textarea {
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.17045em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.715em;
  padding: 0.47667em 0.47667em;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #000;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 0, 0, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.3575em; }

input[type="file"] {
  margin-bottom: 0.715em;
  padding-bottom: 0.47667em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.43em; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin: 0 0 0.715em; }

dt {
  font-weight: normal;
  margin-top: 0.715em; }

dd {
  margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px; }
  button:focus, button:active,
  input[type="submit"]:focus,
  input[type="submit"]:active {
    outline: none;
    box-shadow: 0px 0px 3px #000; }
  button::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner {
    border: 0; }

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom-a4c72b32.eot");
  src: url("../fonts/fontcustom-a4c72b32.eot?#iefix") format("embedded-opentype"), url("../fonts/fontcustom-df715e6b.woff") format("woff"), url("../fonts/fontcustom-2215be58.ttf") format("truetype"); }
h1, .se--partners h2 {
  font-size: 1.56621em;
  line-height: 1.2; }

h2 {
  font-size: 1.39219em;
  line-height: 1.2; }

h3, .header-b--byline, .se--about .more-toggler {
  font-size: 1.2375em;
  line-height: 1.2; }

.se-header {
  text-align: center;
  padding: 0 0 1rem; }

.se--about .more-toggler::after {
  -webkit-animation-name: floating;
  -moz-animation-name: floating;
  animation-name: floating;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }
@-moz-keyframes floating {
  0% {
    -moz-transform: translateY(0%); }
  50% {
    -moz-transform: translateY(8%); }
  100% {
    -moz-transform: translateY(0%); } }
@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%);
    -moz-transform: translateY(8%);
    transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%); } }
.flash-error {
  color: #fafafa;
  background: #97161b;
  font-weight: 400;
  margin-bottom: 0.715em;
  padding: 0.715em; }
  .flash-error a {
    color: #f5b6b9;
    text-decoration: underline; }
    .flash-error a:hover {
      color: #ee8a8e; }

.flash-success {
  color: #fafafa;
  background: #376160;
  font-weight: 400;
  margin-bottom: 0.715em;
  padding: 0.715em; }
  .flash-success a {
    color: #bddad9;
    text-decoration: underline; }
    .flash-success a:hover {
      color: #9dc7c6; }

.wr--header, .wr--about, .wr--program, .wr--location, .wr--tickets {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.se--header, .se--nav, .se--about, .wr--lineup, .wr--extras, .se--program, .se--lineup, .se--location, .se--tickets, .se--partners {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto; }
  .se--header::after, .se--nav::after, .se--about::after, .wr--lineup::after, .wr--extras::after, .se--program::after, .se--lineup::after, .se--location::after, .se--tickets::after, .se--partners::after {
    clear: both;
    content: "";
    display: block; }

input[type="submit"], .sched-l, .header-altl-l, .btn-cta, .lup-det-l, .tickets-l--wr a {
  -webkit-font-smoothing: antialiased;
  background: #000;
  border: 2px solid #000;
  border-radius: 4px;
  color: #fafafa;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  input[type="submit"]:hover, .sched-l:hover, .header-altl-l:hover, .btn-cta:hover, .lup-det-l:hover, .tickets-l--wr a:hover, input[type="submit"]:focus, .sched-l:focus, .header-altl-l:focus, .btn-cta:focus, .lup-det-l:focus, .tickets-l--wr a:focus, input[type="submit"]:active, .sched-l:active, .header-altl-l:active, .btn-cta:active, .lup-det-l:active, .tickets-l--wr a:active {
    background-color: rgba(0, 0, 0, 0.2);
    color: #120F0B; }
  input[type="submit"]:focus, .sched-l:focus, .header-altl-l:focus, .btn-cta:focus, .lup-det-l:focus, .tickets-l--wr a:focus, input[type="submit"]:active, .sched-l:active, .header-altl-l:active, .btn-cta:active, .lup-det-l:active, .tickets-l--wr a:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 0, 0, 0.7); }
  input[type="submit"]:disabled, .sched-l:disabled, .header-altl-l:disabled, .btn-cta:disabled, .lup-det-l:disabled, .tickets-l--wr a:disabled {
    background-color: #dddddd;
    border-color: #999999;
    cursor: not-allowed;
    color: #120F0B; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  background: rgba(18, 15, 11, 0.9);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.overlay-close {
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0;
  z-index: 10000;
  background: #120F0B;
  color: #fafafa;
  font-size: 3rem;
  line-height: 1; }
  .overlay-close:hover, .overlay-close:focus {
    color: #000; }
  @media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
    .overlay-close {
      font-size: 4rem; } }

.overlay-inner {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  width: 100%; }
  @media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
    .overlay-inner {
      padding: 5rem; } }

.overlay-inner--embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .overlay-inner--embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.js-generated-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.page {
  background-size: auto auto; }

.hide {
  display: none; }

.js .js-hide {
  display: none; }

.sched {
  text-align: center; }

.wr--header {
  background: #dddddd url(../images/header-bg-b9bfccad.jpg) center/cover; }
  .wr--header::after {
    clear: both;
    content: "";
    display: block; }

.se--header {
  padding: 4rem 0.5rem;
  position: relative;
  min-height: 440px;
  height: 100vh; }

.header-b--altl {
  float: left; }

.header-altl-l {
  display: inline-block; }
  .header-altl-l:hover, .header-altl-l:focus, .header-altl-l:active {
    color: #120F0B; }

.header-b--byline {
  text-align: right;
  float: right;
  color: #fafafa;
  text-shadow: 0 0 5px #120F0B, 0 0 2px #120F0B, 0 0 1px #120F0B;
  font-weight: bold; }

.h--bot {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem; }

.header-b--title {
  display: none; }

.header-b--cta {
  margin-bottom: 2rem; }

.btn-cta {
  color: #120F0B;
  background: #fafafa;
  border: 2px solid white;
  font-size: 1.2375em; }
  .btn-cta:hover, .btn-cta:focus, .btn-cta:active {
    color: #fafafa;
    background-color: #120F0B; }

@media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
  .header-b--byline, .btn-cta {
    font-size: 1.56621em; } }
#header-bgvid {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

#bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%; }

.soc-l {
  color: #fafafa;
  text-decoration: none;
  border-radius: 100%; }
  .soc-l:hover, .soc-l:focus, .soc-l:active {
    color: #120F0B; }
    .soc-l:hover:after, .soc-l:focus:after, .soc-l:active:after {
      background-color: #fafafa; }
  .soc-l:active {
    color: #4d4d4d; }

.soc-l {
  display: inline-block;
  margin: 0 0.5rem;
  font-size: 0;
  position: relative; }
  .soc-l:before {
    font-family: fontcustom;
    font-weight: normal;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
    line-height: 1;
    font-size: 3rem;
    position: relative;
    z-index: 2; }
  .soc-l:after {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 1; }
  .soc-l span {
    display: none; }

.soc-l--fb:before {
  content: "f"; }

.soc-l--lastfm:before {
  content: "l"; }

.soc-l--bandzone:before {
  content: "b"; }

.soc-l--nyx:before {
  content: "n"; }

.soc-l--gplus:before {
  content: "g"; }

.wr--nav {
  background: #fafafa;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }

.se--nav {
  width: 100%;
  padding: 0 0.2rem;
  text-align: justify;
  height: 3rem;
  cursor: default; }
  .se--nav:after {
    content: "";
    display: inline-block;
    width: 100%;
    line-height: 0;
    visibility: hidden; }

.nav-l {
  display: inline-block;
  padding: 0 0.2rem;
  line-height: 3rem;
  font-weight: 400;
  color: #120F0B;
  text-align: center;
  text-decoration: none; }
  .nav-l:hover, .nav-l:active, .nav-l:focus, .nav-l.js-active {
    color: #000; }
  .nav-l:active, .nav-l:focus, .nav-l.js-active {
    text-decoration: underline; }

@media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
  .se--nav {
    font-size: 1rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
    .se--nav:after {
      display: none; }

  .nav-l {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
    margin: 0 1em; } }
.se--about .more-toggler::after {
  -webkit-animation-name: floating;
  -moz-animation-name: floating;
  animation-name: floating;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }
@-moz-keyframes floating {
  0% {
    -moz-transform: translateY(0%); }
  50% {
    -moz-transform: translateY(8%); }
  100% {
    -moz-transform: translateY(0%); } }
@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%);
    -moz-transform: translateY(8%);
    transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%); } }
.se--about .more-toggler {
  color: #000;
  background: none;
  min-width: 4em;
  min-height: 2em; }
  :lang(cs) .se--about .more-toggler::before, .se--about :lang(cs) .more-toggler::before {
    content: "Více"; }
  :lang(en) .se--about .more-toggler::before, .se--about :lang(en) .more-toggler::before {
    content: "More"; }
  .se--about .more-toggler::after {
    font-family: fontcustom;
    font-weight: normal;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
    font-size: 2rem;
    content: "↓";
    display: block; }
  .se--about .js-active.more-toggler::before {
    content: ""; }
  .se--about .js-active.more-toggler::after {
    content: "↑";
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused; }

.wr--about {
  background: url(../images/about-bg-f29068d5.jpg) repeat center top;
  padding: 3rem 0; }
  .wr--about dt {
    font-weight: bold; }
  .wr--about ul {
    list-style: square;
    padding-bottom: 1rem; }
  .wr--about h2 {
    margin-bottom: 1rem; }

.se--about {
  background-color: rgba(250, 250, 250, 0.9);
  padding: 7.42297%; }

.about-more-wr {
  clear: both; }

.se--about .more-toggler-wr {
  text-align: center;
  padding-top: 3rem; }

.about-more {
  padding-top: 1rem; }

.about-s {
  display: block; }
  .about-s::after {
    clear: both;
    content: "";
    display: block; }

.about-h {
  margin-bottom: 1rem; }

.about-txt, .about-vid {
  margin-bottom: 1rem; }

.about-vid {
  text-align: center;
  display: block; }

@media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
  .about-intro {
    display: block; }
    .about-intro::after {
      clear: both;
      content: "";
      display: block; }

  .about-intro-txt, .about-intro-vid {
    float: right;
    display: block;
    margin-left: 7.42297%;
    width: 100%; }
    .about-intro-txt:last-child, .about-intro-vid:last-child {
      margin-left: 0; }

  .about-intro-txt {
    margin-left: 0;
    text-align: justify; }

  .about-intro-vid {
    padding: 7.42297% 0 7.42297% 0; }

  .about-txt, .about-vid {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .about-txt:last-child, .about-vid:last-child {
      margin-right: 0; }

  .txt-col {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 1.618em;
    -moz-column-gap: 1.618em;
    column-gap: 1.618em;
    text-align: justify; } }
.wr--program {
  background-image: url(../images/program-bg-367e1200.jpg);
  background-color: #141118;
  min-height: 100vh;
  padding: 3rem 0; }

.se-header--program {
  color: #fafafa;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.program-txt {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 7.42297%;
  margin-bottom: 2rem; }

@media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
  .se--lineup {
    padding-top: 2.2rem; }

  .se--extras {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .se--extras:last-child {
      margin-right: 0; }

  .program-txt {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .program-txt:last-child {
      margin-right: 0; } }
.wr--lineup {
  padding: 4.5rem 0 3rem; }

.lup-header, .lup-det {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.lup-item {
  display: inline; }

.lup-header {
  margin-top: 1.5rem; }

.lup-det {
  display: none; }

.lup-l {
  color: #120F0B;
  padding-top: 1.5rem;
  display: block; }

.lup-name, .lup-genre, .lup-location {
  display: inline-block;
  background-color: rgba(250, 250, 250, 0.75);
  padding: 0.2rem 0.5rem; }

.lup-byline {
  font-style: italic; }

.lup-det-l:after {
  content: " »"; }

.lup-det {
  padding: 7.42297%; }

.lup-desc {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 1em; }

.lup-embed iframe {
  width: 100%; }

.nojs .lup-item:target .lup-header,
.lup-item.js-active .lup-header {
  background: #000; }
.nojs .lup-item:target .lup-det,
.lup-item.js-active .lup-det {
  display: block; }

.lup-wr--sensoria {
  margin-top: 3rem;
  padding: 7.42297%;
  background-color: rgba(250, 250, 250, 0.8); }
  @media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
    .lup-wr--sensoria {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%;
      margin-left: 53.71149%; }
      .lup-wr--sensoria:last-child {
        margin-right: 0; } }

@media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
  .lup-det {
    float: left;
    width: 100%;
    border: 2px solid #000; } }
@media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
  .lup-wr--major .lup-header, .lup-wr--headliners .lup-header {
    display: inline-block;
    width: 50%; }
  .lup-wr--major .lup-desc, .lup-wr--headliners .lup-desc, .lup-wr--major .lup-embed, .lup-wr--headliners .lup-embed {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .lup-wr--major .lup-desc:last-child, .lup-wr--headliners .lup-desc:last-child, .lup-wr--major .lup-embed:last-child, .lup-wr--headliners .lup-embed:last-child {
      margin-right: 0; }
  .lup-wr--major .lup-embed, .lup-wr--headliners .lup-embed {
    margin-right: 0; } }

@media screen and (min-width: new-breakpoint(min-width 58.18182em 12)) {
  .lup-wr--major .lup-header {
    width: 33.33%; } }

.lup-wr--headliners .lup-l {
  padding-top: 3rem; }

.lup-wr--major .lup-header {
  background-image: none;
  text-align: center; }

.lup-b--kamni {
  background-image: url(../assets/images/lineup/kamni-1ca19489.jpg); }

.lup-b--merkabah {
  background-image: url(../assets/images/lineup/merkabah-ba7a9e6d.jpg); }

.lup-b--narcosatanicos {
  background-image: url(../assets/images/lineup/narcosatanicos-2cc398df.jpg); }

.lup-b--or {
  background-image: url(../assets/images/lineup/or-6dda5378.jpg); }

.lup-b--ovo {
  background-image: url(../assets/images/lineup/ovo-bb4e651b.jpg); }

.lup-b--pozvakowski {
  background-image: url(../assets/images/lineup/pozvakowski-8548ac43.jpg); }

.lup-b--spokraket {
  background-image: url(../assets/images/lineup/spokraket-1484edb5.jpg); }

.lup-b--site,
.lup-b--debbi-love,
.lup-b--spokraket {
  background-position: top center; }

.lup-b--kamni {
  background-position: 0 -80px; }

.lup-header.lup-b--kamni {
  position: relative; }

.lup-header.lup-b--kamni::before {
  position: absolute;
  text-transform: uppercase;
  background: #8D291C;
  color: #fafafa;
  font-size: 1.2375em;
  padding: 8px;
  right: 0;
  pointer-events: none; }
  :lang(en) .lup-header.lup-b--kamni::before {
    content: "Cancelled"; }
  :lang(cs) .lup-header.lup-b--kamni::before {
    content: "Zrušeno"; }

.lup-b--pozvakowski {
  background-position: 0 -170px; }

.lup-b--merkabah {
  background-position: 0 -249px; }

.wr--extras {
  padding: 3rem 0 3rem; }

.ex-se {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 1.5em 7.42297%;
  margin-bottom: 1.5em; }

@media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
  .ex-se {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .ex-se:last-child {
      margin-right: 0; }

  .ex-se:nth-child(2n) {
    margin-right: 0;
    float: right; } }
.ex-h {
  text-align: center;
  padding-bottom: 0.71829em; }

.ex-it {
  padding-bottom: 1em; }

.wr--location {
  background-image: url(../images/location-bg-a8b01050.jpg);
  background-color: #50707B;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 3rem 0; }

.location-se--about {
  display: block;
  margin-bottom: 20vh; }
  .location-se--about::after {
    clear: both;
    content: "";
    display: block; }

.location-txt--about, .location-se--amenities {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 7.42297%; }

.location-img {
  display: inline-block;
  width: 49%; }

.location-se--amenities {
  display: block; }
  .location-se--amenities::after {
    clear: both;
    content: "";
    display: block; }

.location-am--title {
  text-align: center; }

.location-am--s {
  margin-bottom: 1.5em; }
  @media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
    .location-am--s {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      .location-am--s:last-child {
        margin-right: 0; }
      .location-am--s:nth-child(2n) {
        margin-right: 0; }
      .location-am--s:nth-child(2n+1) {
        clear: left; } }

@media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
  .wr--location {
    background-attachment: fixed; }

  .location-txt--about {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .location-txt--about:last-child {
      margin-right: 0; } }
@media screen and (min-width: new-breakpoint(min-width 58.18182em 12)) {
  .location-img {
    display: inline-block;
    width: 32.5%; } }
.wr--tickets {
  background-image: url(../images/tickets-bg-d61e9489.jpg);
  background-color: #0F1316;
  min-height: 100vh;
  padding: 2rem 0; }

.se--tickets {
  padding-top: 10vh; }

.tickets-b {
  padding: 7.42297%;
  background-color: rgba(250, 250, 250, 0.8); }

.tickets-l--wr {
  text-align: center;
  padding-top: 2rem; }
  .tickets-l--wr a:after {
    content: " »"; }

.se--partners {
  padding-top: 3rem; }
  .se--partners h1 {
    display: none; }
  .se--partners h2 {
    text-align: center;
    padding-bottom: 1rem; }

.pa-list {
  padding-bottom: 2em;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.pa-item {
  display: inline-block;
  min-width: 150px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.39219em;
  line-height: 1.2;
  display: inline-block;
  vartical-align: middle;
  width: 33.33%; }
  @media screen and (min-width: new-breakpoint(min-width 36.36364em 8)) {
    .pa-item {
      width: 25%; } }
  @media screen and (min-width: new-breakpoint(min-width 58.18182em 12)) {
    .pa-item {
      width: 20%; } }

.pa-l {
  color: #120F0B;
  display: block;
  height: 100%; }

.pa-item--text .pa-l {
  padding: 1em; }

.pa-ti--l {
  font-size: 2em; }

/* .footer-b
 *   display: block
 *
 * .footer-l
 *   @extend %gamma
 *   color: $c-fg-light
 *   margin: 0.75rem 1rem
 *   display: block
 *   text-align: center
 *
 *
 *
 * +media($medium-screen-up)
 *   .se--footer
 *     +display(flex)
 *     +align-items(center)
 *     +flex-wrap(wrap)
 *
 *   .footer-l
 *     display: inline-block
 *     +flex(1 33%)
 *     margin:
 *       left: 0
 *       right: 0
 *
 * +media($large-screen-up) */
