
%article

  .about-intro
    .about-vid
      %a.about-vid-tgt.js-overlay-embed(href='https://www.youtube.com/watch?v=9IbjqNvLpOc'
          data-embed='//www.youtube-nocookie.com/embed/9IbjqNvLpOc?rel=0&autoplay=1&color=white&showinfo=1&disablekb=1&html5=1')
        = image_tag('about-vid.jpg', alt: 'Psy-High 2014 Invitation')
    .about-intro-txt
      :markdown
        #{ t(:about) }
  .about-more-wr
    #about-more.about-more.js-hide.js-more
      = partial 'sections/about_text'
