
%article

  .about-intro
    .about-vid
      %a.about-vid-tgt.js-overlay-embed(href='https://www.youtube.com/watch?v=9IbjqNvLpOc'
          data-embed='//www.youtube-nocookie.com/embed/9IbjqNvLpOc?rel=0&autoplay=1&color=white&showinfo=1&disablekb=1&html5=1')
        = image_tag('about-vid.jpg', alt: 'Psy-High 2014 Invitation')
    .about-intro-txt
      :markdown
        Psy-High je DIY umělecko-kulturní festival všecho psy&shy;che&shy;delickýho a mystickýho, podivnýho a magickýho, co se zrovna na naší planetě děje.

        Všechno děláme vlastníma rukama, bez myšlenek na zisk a úplně bez sponzorů -- kromě rostoucího počtu těch, kdo živí Psy-High svoji osobní energií.

        Psy-High je pro nás *uměním, jak podporovat umění*, definovaným a zušlechtěným účastí mnoha umělců a stavitelů, kteří neúnavně pracují na místě konání dny a týdny před začátkem festivalu.

        Oslavíme přírodu a sebe-vyjádření skrze semináře, workshopy, komunitaření a především zatraceně dobrý koncerty více než dvaceti kapel (psych, stoner, sludge, noise-rock a doom), který doprovodí malá ochutnávka konceptuálně souvisejících elektro&shy;nických i instru&shy;mentálních projektů z různých dalších žánrů.

  .about-more-wr
    #about-more.about-more.js-hide.js-more
      = partial 'sections/about_text'
