.se--about
  %article
    .about-intro
      .about-intro-txt
        =markdown t('about.intro')
    .about-more-wr
      #about-more.about-more.js-hide.js-more{data: {category: 'About', label: 'More'}}
        =markdown t('about.more')
