
.extras-txt
  %h1.se-header Extra

  :markdown
    Hudbu proložíme například přednáškami (lucidní snění, chaos magick), workshopy (sigilizace, pěstování, poi), cvičením jógy, předčítáním nebo videomappingem.

    Detaily doprovodného programu teprve vypracováváme.
