
.extras-txt
  %h1.se-header Extra

  :markdown
    Hudební zážitky proloží několik přednášek a workshopů.

    O čem? Projdeme třeba základy ritualizace a chaos magick, ozkoušíte sigilizaci, proběhnou seance yogy, naučíte se vyrábět poiky, pěstovat a mnohem víc.

    Brzy se dozvíte více!
