
= link_to '/-\\', 'http://sdbs.cz/', title: 'Slash Dash Backslash', class: 'footer-link'
= link_to '][', 'http://example.com', title: '???', class: 'footer-link'
= link_to 'Letmo.net', 'http://letmo.net/', class: 'footer-link'
