
= link_to '/-\\', 'http://sdbs.cz/', title: 'Slash Dash Backslash', class: 'footer-link'
= link_to '][', 'https://www.facebook.com/doublebrackets', title: '][', class: 'footer-link'
= link_to 'Letmo.net', 'http://letmo.net/', class: 'footer-link'
= link_to 'w.booking', 'https://www.facebook.com/Wes.booking', class: 'footer-link'
