.soc-nav
  %a.soc-l.soc-l--fb{href: 'https://www.facebook.com/events/313590198850496/', title: t('social.fb')}
    Facebook
  %a.soc-l.soc-l--lastfm{href: 'http://www.last.fm/festival/4118758+Psy-High+%2715', title: t('social.lastfm')}
    Last.fm
  %a.soc-l.soc-l--nyx{href: 'https://www.nyx.cz/index.php?l=events;l2=2;id=24387', title: t('social.nyx')}
    Nyx
