.soc-nav
  %a.soc-l.soc-l--fb{href: 'https://www.facebook.com/events/1503940179833269/', title: 'Událost na Facebooku'}
    Facebook
  %a.soc-l.soc-l--lastfm{href: 'http://www.last.fm/festival/3834101+Psy-High+%2714', title: 'Festival na Last.fm'}
    Last.fm
  %a.soc-l.soc-l--bandzone{href: 'http://bandzone.cz/koncert/349855', title: 'Koncert na Bandzone'}
    Bandzone
  %a.soc-l.soc-l--nyx{href: 'https://www.nyx.cz/index.php?l=events;l2=2;id=24387', title: 'Událost na Nyxu'}
    Nyx
