
%h1.header-title{itemprop: 'name'}
  = image_tag 'header-logo.svg', alt: 'Psy-High'
.header-date
  %time{datetime: '2014-08-22', itemprop: 'startDate'} 22. 8.
  &ndash;
  %time{datetime: '2014-08-24', itemprop: 'endDate'} 24. 8.
  2014
