.soc-nav
  %a.soc-l.soc-l--fb{href: 'https://www.facebook.com/events/253377451762545/', title: t('social.fb')}
    Facebook
  %a.soc-l.soc-l--lastfm{href: 'https://www.last.fm/festival/4301464+Psy-High+2017', title: t('social.lastfm')}
    Last.fm
  %a.soc-l.soc-l--nyx{href: 'https://www.nyx.cz/index.php?l=events;l2=2;id=30918', title: t('social.nyx')}
    Nyx
