%h1.se-header= t('lineup.header')

.lup-wr--headliners<>
  = partial('partials/band', collection: lineup_data(:headliners), locals: {arity: 2})

.lup-wr--major<>
  = partial('partials/band', collection: lineup_data(:major), locals: {arity: 3})
