%h1.se-header= t('lineup.header')

:markdown
  #{t('lineup.desc')}

:markdown
  - [Pozvakowski](https://pozvakowski.bandcamp.com/) (hu, exp. noise rock)
  - [Narcosatanicos](https://narcosatanicos.bandcamp.com/) (dk, acid noise punk)
  - [Merkabah](https://merkabahpl.bandcamp.com) (pl, avant-garde rock)
  - [At Bona Fide](http://bandzone.cz/atbonafide) (cz, shoegaze)
  - [Fetch!](https://fetchcz.bandcamp.com/album/parfum-et-koteka) (cz, stoner noise rock)
  - [White Wigwam](https://whitewigwam.bandcamp.com/album/ground-trigger) (cz, minimal ambient synth)
  - [Kidney Trauma](https://soundcloud.com/stoned-to-death-records/kidney-trauma-doplnit) (cz, členové Microvomit, Depakine Chrono)
