:markdown

  - [B4](http://b4.3px.cz/) (cz, psychedelic)
  - [Saiga](http://saigarocks.bandcamp.com/) (cz/ru, stoner)
  - [Sweeps04](http://bandzone.cz/sweeps04) (cz, ambient industrial doom)
  - [At Bona Fide](http://bandzone.cz/atbonafide) (cz, shoegaze)
  - [Fetch!](https://fetchcz.bandcamp.com/album/parfum-et-koteka) (cz, stoner noise rock)
  - [Kidney Trauma](https://soundcloud.com/stoned-to-death-records/kidney-trauma-doplnit) (cz, noise-rock/shoegaze)
