.location-txt

  %h1.se-header Místo konání

  :markdown
    Lom sv. Josefa byl aktivní od druhé poloviny 19. století, jeho vysoce kvalitní pískovec se využíval především k sochařství. Pochází z něj například sochy v průčelí Národního divadla v Praze.

    Vybrali jsme ho především kvůli jeho „zemitosti“ – to, jak jsou skály obrostlé lesem, který pohltil většinu lidských stop vyvolává nezaměnitelný pocit klidu a pohody.

  .location-gallery
    - (1..6).each do |i|
      - img = "#{i}.jpg"
      %a.location-img{href: "images/location/f/#{img}"}
        = image_tag "location/#{img}"
