.se--program

  %h1.se-header.se-header--program
    = t('program.header')

  %section.program-txt
    %h1.se-header= t('lineup.header')
    =markdown t('lineup.desc')

  %section.program-txt
    %h1.se-header= t('extras.header')
    =markdown t('extras.desc')
