%h1 Hudba

.lup-wr
  - n = 1
  - last = data.bands.last
  - data.bands.each do |band|
    .lup-item{class: "lup-item--#{band.id}", id: "b-#{band.id}"}
      .lup-title
        %h2.lup-name= band.name
        .lup-byline-wr
          %span.lup-byline.lup-genre
            =band.genre
          %br
          %span.lup-byline.lup-location
            =band.location
      .lup-desc.js-hide
        %p= band.description
    - if (n % 2 == 0) || band == last
      .lup-desc--2n.js-hide
    - if (n % 3 == 0) || band == last
      .lup-desc--3n.js-hide
    - n += 1
