%h1 Hudba

.lup-wr
  - data.bands.each do |band|
    .lup-item
      .lup-title
        %h2.lup-name= band.name
        .lup-byline
          =band.genre
          \/
          =band.location
      .lup-desc
        %p= band.description
