.tickets-b.tickets-b--shop
  %h2.se-header= t('tickets.shop.header')
  :markdown
    #{ t('tickets.shop.description') }

  %p.tickets-l--shop
    =link_to 'buy.psy-high.eu', 'http://buy.psy-high.eu/#nav_primary'

.tickets-b.tickets-b--order
  %h2.se-header= t('tickets.order.header')
  :markdown
    #{ t('tickets.order.description') }
