.tickets-b.tickets-b--order
  %h2.se-header= t('tickets.order.header')
  =markdown t('tickets.order.description')

  .tickets-l--wr
    = link_to t('tickets.order.link'), 'http://pepicka.cz/vstupenky/1/Psy-High', class: 'tickets-l--a'
