.wr--nav.js-nav
  %nav.se--nav
    = link_to 'Psy-High', '#about'
    = link_to 'Hudba', '#lineup'
    = link_to 'Místo', '#location'
    = link_to 'Extra', '#extras'
  /= link_to '#tickets', 'Lístky'
