---
title: Psy-High 2014
---

.page{itemscope: true, itemtype: "http://schema.org/Festival"}
  %header.pg-section.s-header
    = partial 'sections/header'

  #about.pg-section.s-about

  %section#programme
    #lineup.pg-section

    #extras.pg-section

  %section#location.pg-section

  %section#imprint.pg-section
