---
title: Psy-High 2014
---

.page{itemscope: true, itemtype: "http://schema.org/Festival"}

  .wr.wr--header
    #top.se.se--header
      = partial 'sections/header'

  .wr.wr--nav
    =partial 'nav'

  .wr.wr--about
    #about.se.se--about
      = partial 'sections/about'

  .wr.wr--programme#programme
    #lineup.se--lineup

    #extras.se--extras

  #location.se--location

  #imprint.se--imprint
