---
title: Psy-High 2014
---

.page{itemscope: true, itemtype: "http://schema.org/Festival"}

  .s-wr.wr-header
    %header.s-header
      = partial 'sections/header'

  .wr-about
    #about.s-about
      = partial 'sections/about'

  %section#programme
    #lineup.s

    #extras.s

  %section#location.s

  %section#imprint.s
